*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Utility */

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.align-center{
    align-content: center;
}

.justify-center{
    justify-content: center;
}



/* layout */


main{
    height: calc(100vh - 100px);
    background-color: rgb(21, 25, 33);
    display: flex;
}

header{
    position: sticky;
    height: 75px;
    background-color: rgb(9, 11, 18);
    top: 0;
    position: relative;
}


footer{
    height: 100px;
    background-color: rgb(40, 40, 40);
}

#sidebar{
    height: 100%;
    width: 150px;
    background-color: rgb(0, 0, 0);
    padding: 15px;
}

#content{
    width: calc(100% - 150px);
    overflow-y: scroll;
}

h2{
    color: white;
}

section{
    padding: 0px 20px;
}


/* header */

header a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    right: 0%;
}


/* sidebar */

.menu-nav img{
    height: 20px;
    vertical-align: middle;
}

.logo-small{
    display: none;
}

.menu-nav li, .playlist li{
    padding: 5px;
    list-style-type: none;
}

.logo{
    width: 80%;
}

.menu-nav p{
    display: inline-block;
    vertical-align: middle;
}

.playlist i{
    color: grey;
    vertical-align: middle;
}

 .playlist li:nth-child(1){
    vertical-align: middle;
    display: inline-block;
 }

 .crea-playlist{
    vertical-align: middle;
    display: inline-block;
 }

 .menu-nav{
    margin: 15px 0px;
 }

 .top-sidebar h6{
    text-transform: uppercase;
    font-size: 12px;
 }

 .image-download{
    height: 15px;
    color: gray;
    vertical-align: middle;
 }

 .plus{
    font-size: 30px;
 }

 .bottom-sidebar p{
    display: inline-block;
    vertical-align: middle;
 }

 .image-profile{
    height: 20px;
    background-color: grey;
    border-radius: 50%;
    vertical-align: middle;
 }

 .bottom-sidebar h6{
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
 }

 .bottom-sidebar hr{
    margin: 5px 0px;
    color: rgba(128, 128, 128, 0.547);
 }

 #sidebar{
    flex-direction: column;
    justify-content: space-between;
 }

 

/* nav-content */

.nav-content ul{
    display: flex;
    list-style-type: none;
    color: grey;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-content ul li{
    padding: 20px 15px;
    font-size: 13px;
    text-transform: uppercase;
}

/* Recently played */

.recently-played h2{
    margin: 20px 0px;
}

h6{
    color: white;
    font-size: 16px;
    padding: 5px;
}

p{
    color: grey;
    font-size: 12px;
}

.col{
    width: calc(100% /6)
}

.col img{
    width: 100%;
    height: 100%;
    padding: 5px;
}


.col h6, .col p{
    text-align: center;
}


/* creato-per e artisti-popolari */

.creato-per, .artisti-popolari{
    margin-top: 15%;
}

.creato-per p, .artisti-popolari p{
    margin: 5px 0px 20px;
}

.image-content img{
    border-radius: 50%;
}


/* footer */

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


/* left-footer */


.image-footer{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.left-footer img{
    height: 100%;
}

.left-footer{
    padding: 20px 10px;
    width: 20%;
}

.left-footer h5{
    color: white;
    font-size: 10px;
}

.text-footer p{
    font-size: 10px;
}

.text-footer{
    line-height: 10px;
}

.icon-footer{
    margin-left: 40px;
    color: gray;
    align-content: center;
}


/* middle-footer */


.icon-music{
    color: white;
}

.middle-footer{
    width: 60%;
}



.icon-music i{
    padding: 15px 10px;
    vertical-align: middle;
}

.minuti{
    color: white;
    font-size: 10px;
}

.play{
    font-size: 25px;
}

.progress-bar{
    height: 4px;
    width: 50%;
    background-color: grey;
    margin: 0px 20px;
    border-radius: 10px;
}

.progress-music{
    height: 4px;
    width: 20%;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}

.icon-music{
    text-align: center;
}


/* right-footer */

.right-footer{
    width: 20%;
    align-items: center;
}

.icon-right-f{
    color: white;
}

.prog-bar{
    height: 4px;
    width: 35%;
    background-color: grey;
    margin: 0px 5px;
    border-radius: 10px;
}

.prog-music{
    height: 4px;
    width: 20%;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}

.icon-right-f i{
    padding: 0px 10px;
    font-size: 90%;
}



/* media query */

@media screen and (max-width: 1200px){
    .col{
        width: calc(100% /4);
    }

    section, .creato-per, .artisti-popolari{
        margin-top: 50px;
    }

    .col{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 990px){
    .col{
        width: calc(100% / 2);
    }

    .icon-right-f i{
        padding: 0px 5px;
    }
}

@media screen and (max-width: 768px){
    .logo{
        display: none;
    }

    .logo-small{
        display: block;
    }
    
    .menu-nav p{
        display: none;
    }

    .top-sidebar h6, .top-sidebar .playlist{
        display: none;
    }

    .download p{
        display: none;
    }

    .profile h6{
        display: none;
    }

    .bottom-sidebar hr{
        display: none;
    }

    .bottom-sidebar .download{
        margin-bottom: 15px;
    }

    #sidebar{
        width: 50px;
    }

    #content{
        width: calc(100% - 50px);

    }

    .menu-nav li{
        padding: 5px 0px;
    }

    .menu-nav{
        margin: 5px 0px;
    }
}


/* Hover */

li:hover{
    color: white;
}

li p:hover{
    color: white;
}

.download p:hover{
    color: white;
}


header a:hover{
    font-size: 16px;
}

.image-footer:hover{
    height: 55px;
}

.text-footer p:hover{
    color: white;
    text-decoration: underline;
}

.icon-footer i:hover{
    color: white;
}

.play:hover{
    font-size: 30px;
}