*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Utility */

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.align-center{
    align-content: center;
}


/* layout */


main{
    height: calc(100vh - 100px);
    background-color: rgb(21, 25, 33);
    display: flex;
}

header{
    position: sticky;
    height: 75px;
    background-color: rgb(9, 11, 18);
    top: 0;
    position: relative;
}


footer{
    height: 100px;
    background-color: rgb(40, 40, 40);
}

#sidebar{
    height: 100%;
    width: 150px;
    background-color: rgb(0, 0, 0);
    padding: 15px;
}

#content{
    width: calc(100% - 150px);
    overflow-y: scroll;
}

h2{
    color: white;
}

section{
    padding: 0px 20px;
}


/* header */

header a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    right: 0%;
}


/* sidebar */

.menu-nav img{
    height: 20px;
    vertical-align: middle;
}

.menu-nav li, .playlist li{
    padding: 5px;
}

.logo{
    width: 80%;
}

.menu-nav p{
    display: inline-block;
    vertical-align: middle;
}

.playlist i{
    color: grey;
    vertical-align: middle;
}

 .playlist li:nth-child(1){
    vertical-align: middle;
    display: inline-block;
 }

 .crea-playlist{
    vertical-align: middle;
    display: inline-block;
 }

 .menu-nav{
    margin: 15px 0px;
 }

 .top-sidebar h6{
    text-transform: uppercase;
    font-size: 12px;
 }

 .image-download{
    height: 15px;
    color: gray;
    vertical-align: middle;
 }

 .bottom-sidebar p{
    display: inline-block;
    vertical-align: middle;
 }

 .image-profile{
    height: 20px;
    background-color: grey;
    border-radius: 50%;
    vertical-align: middle;
 }

 .bottom-sidebar h6{
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
 }

 .bottom-sidebar hr{
    margin: 5px 0px;
    color: rgba(128, 128, 128, 0.547);
 }

 #sidebar{
    flex-direction: column;
    justify-content: space-between;
 }

 

/* nav-content */

.nav-content ul{
    display: flex;
    list-style-type: none;
    color: grey;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-content ul li{
    padding: 20px 15px;
    font-size: 13px;
    text-transform: uppercase;
}

/* Recently played */

.recently-played h2{
    margin: 20px 0px;
}

h6{
    color: white;
    font-size: 16px;
    padding: 5px;
}

p{
    color: grey;
    font-size: 12px;
}

.col{
    width: calc(100% / 6);
    height: 20vh;
}

.col img{
    width: 100%;
    height: 100%;
    padding: 5px;
}

.col h6, .col p{
    text-align: center;
}


/* creato-per e artisti-popolari */

.creato-per, .artisti-popolari{
    margin-top: 15%;
}

.creato-per p, .artisti-popolari p{
    margin: 5px 0px 20px;
}

.image-content img{
    border-radius: 50%;
}


/* footer */

/* left-footer */


.image-footer{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.left-footer img{
    width: 100%;
    height: 100%;
}

.left-footer{
    padding: 20px 10px;
}

.left-footer h5{
    color: white;
    font-size: 10px;
}

.text-footer p{
    font-size: 10px;
}

.text-footer{
    line-height: 10px;
}

.icon-footer{
    margin-left: 40px;
    color: gray;
    align-content: center;
}


/* middle-footer */


.icon-music{
    color: white;
}



.icon-music i{
    padding: 15px 10px;
}

.minuti{
    color: white;
    font-size: 10px;
}

.middle-footer hr{
    width: 20px;
}